USE [master]
GO
/****** Object:  Database [DBCLPM_Nhom2_Toan_Son]    Script Date: 12/04/2022 18:19:32 ******/
CREATE DATABASE [DBCLPM_Nhom2_Toan_Son]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBCLPM_Nhom2_Toan_Son', FILENAME = N'D:\HocKyII(2021-2022)\DDBCLKTPM\Project\Database\DBCLPM_Nhom2_Toan_Son.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBCLPM_Nhom2_Toan_Son_log', FILENAME = N'D:\HocKyII(2021-2022)\DDBCLKTPM\Project\Database\DBCLPM_Nhom2_Toan_Son_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBCLPM_Nhom2_Toan_Son].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBCLPM_Nhom2_Toan_Son]
GO
/****** Object:  Table [dbo].[class]    Script Date: 12/04/2022 18:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[class](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[amount] [int] NOT NULL,
 CONSTRAINT [PK_class] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question]    Script Date: 12/04/2022 18:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[answer] [nvarchar](50) NOT NULL,
	[id_subject] [int] NOT NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[score_table]    Script Date: 12/04/2022 18:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[score_table](
	[id_student] [int] NOT NULL,
	[id_test] [int] NOT NULL,
	[score] [float] NOT NULL,
	[time] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 12/04/2022 18:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id] [int] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[gender] [nvarchar](5) NOT NULL,
	[phone] [nchar](11) NOT NULL,
	[birthday] [date] NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[id_class] [int] NOT NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subject]    Script Date: 12/04/2022 18:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subject](
	[id] [int] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[semester] [int] NOT NULL,
	[numOfCredits] [int] NOT NULL,
 CONSTRAINT [PK_subject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 12/04/2022 18:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[id] [int] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[gender] [nvarchar](5) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[birthday] [date] NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[id_class] [int] NOT NULL,
	[id_subject] [int] NOT NULL,
 CONSTRAINT [PK_teacher] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 12/04/2022 18:19:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[id] [int] NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[id_subject] [int] NOT NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[question]  WITH CHECK ADD  CONSTRAINT [fk_question_subject] FOREIGN KEY([id_subject])
REFERENCES [dbo].[subject] ([id])
GO
ALTER TABLE [dbo].[question] CHECK CONSTRAINT [fk_question_subject]
GO
ALTER TABLE [dbo].[score_table]  WITH CHECK ADD  CONSTRAINT [fk_score_student] FOREIGN KEY([id_student])
REFERENCES [dbo].[student] ([id])
GO
ALTER TABLE [dbo].[score_table] CHECK CONSTRAINT [fk_score_student]
GO
ALTER TABLE [dbo].[score_table]  WITH CHECK ADD  CONSTRAINT [fk_score_test] FOREIGN KEY([id_test])
REFERENCES [dbo].[test] ([id])
GO
ALTER TABLE [dbo].[score_table] CHECK CONSTRAINT [fk_score_test]
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD  CONSTRAINT [fk_student_class] FOREIGN KEY([id_class])
REFERENCES [dbo].[class] ([id])
GO
ALTER TABLE [dbo].[student] CHECK CONSTRAINT [fk_student_class]
GO
ALTER TABLE [dbo].[teacher]  WITH CHECK ADD  CONSTRAINT [fk_teacher_class] FOREIGN KEY([id_class])
REFERENCES [dbo].[class] ([id])
GO
ALTER TABLE [dbo].[teacher] CHECK CONSTRAINT [fk_teacher_class]
GO
ALTER TABLE [dbo].[teacher]  WITH CHECK ADD  CONSTRAINT [fk_teacher_subject] FOREIGN KEY([id_subject])
REFERENCES [dbo].[subject] ([id])
GO
ALTER TABLE [dbo].[teacher] CHECK CONSTRAINT [fk_teacher_subject]
GO
ALTER TABLE [dbo].[test]  WITH CHECK ADD  CONSTRAINT [fk_test_subject] FOREIGN KEY([id_subject])
REFERENCES [dbo].[subject] ([id])
GO
ALTER TABLE [dbo].[test] CHECK CONSTRAINT [fk_test_subject]
GO
USE [master]
GO
